.skill-header {
  margin-top: 0px;
  margin-bottom: 40px;
}

.myskills-btn-grp, .add-post-div, .add-project-div {
  width: 100%;
}

.myskills-btn-grp {
  padding: 0px;
  margin-bottom: 10px;
}

.find-projects {
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  outline: 0;
  background-image: url(../../search-icon.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  color: black;
  padding-left: 7%;
}

.add-post-btn {
  width: 100%;
  height: 40px;
  color: #EDE8E8;
  background: rgb(52, 52, 57);
  background: linear-gradient(90deg, rgba(52, 52, 57, 1) 0%, rgba(51, 51, 68, 1) 45%, rgba(14, 78, 101, 1) 100%);
}

.add-post-btn:hover, .add-post-btn:focus, .add-post-btn:active, .add-post-btn.active, .open .dropdown-toggle.add-post-btn {
  color: #EDE8E8;
  background-color: rgb(52, 52, 57);
  background: linear-gradient(90deg, rgba(52, 52, 57, 1) 0%, rgba(51, 51, 68, 1) 45%, rgba(14, 78, 101, 1) 100%);
}
