@media (min-width: 768px) {
  .add-post-textarea {
    height: 60px;
    width: 100%;
  }
  .add-post-modal-footer {
    margin-top: 10px;
  }
}

.modal.fade .modal-dialog {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 25%;
  margin: 0 auto;
}

.add-post-modal-footer {
  border-top: none;
}

.add-post-textarea {
  width: 100%;
  height: 80px;
  border: 0;
  box-shadow: none;
  resize: none;
  outline: 0;
}

.add-post-modal-header {
  border-bottom: none;
  padding: 15px 15px 0px 15px;
}

.add-post-modal-container .modal-dialog, .add-post-modal-container .modal-content {
  height: 270px;
}

.add-post-modal-footer {
  margin-top: 0px;
  padding: 10px 15px 15px 15px;
}

.add-link-input {
  width: 100%;
}

.select-skill {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.select-skill__control {
  background-color: #fff !important;
  border-color: #fff !important;
  border-width: 0px !important;
  box-shadow: #fff !important;
}

.select-skill__control--is-focused {
  background-color: #fff !important;
  border-color: #fff !important;
  border-width: 0px !important;
  box-shadow: #fff !important;
}

.start-project-tab a,
.add-post-tab a {
  color: #555;
}
