html, body {
  height: 100%;
  font-family: Noto Sans, arial, verdana;
  background-color: #f6f6f6;
}

#root {
  height: 100%;
}

#main-top-div {
  height: 100%;
}

.main-container {
  height: 100%;
}

.home-container {
  height: 100%;
  padding-top: 90px;
}

.modal.fade .modal-dialog
{
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;

  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 25%;
    margin: 0 auto;
}

.black-button {
  color: #EDE8E8;
  background-color: #262626;
  border-color: #010005;
}

.black-button:hover,
.black-button:focus,
.black-button:active,
.black-button.active,
.open .dropdown-toggle.black-button {
  color: #EDE8E8;
  background-color: #262626;
  border-color: #010005;
}

.black-button:active,
.black-button.active,
.open .dropdown-toggle.black-button {
  background-image: none;
}

.black-button.disabled,
.black-button[disabled],
fieldset[disabled] .black-button,
.black-button.disabled:hover,
.black-button[disabled]:hover,
fieldset[disabled] .black-button:hover,
.black-button.disabled:focus,
.black-button[disabled]:focus,
fieldset[disabled] .black-button:focus,
.black-button.disabled:active,
.black-button[disabled]:active,
fieldset[disabled] .black-button:active,
.black-button.disabled.active,
.black-button[disabled].active,
fieldset[disabled] .black-button.active {
  background-color: #262626;
  border-color: #010005;
}

.black-button .badge {
  color: #262626;
  background-color: #EDE8E8;
}

.blue-button {
  color: #ffffff;
  background-color: #013975;
  border-color: #EFF1F7;
}

.black-border-btn {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #010005;
}

.black-border-btn:hover,
.black-border-btn:focus,
.black-border-btn:active,
.black-border-btn.active,
.open .dropdown-toggle.black-border-btn {
  color: #000000;
  background-color: #fff;
  border-color: #010005;
}

.black-border-btn:active,
.black-border-btn.active,
.open .dropdown-toggle.black-border-btn {
  background-image: none;
}

.black-border-btn.disabled,
.black-border-btn[disabled],
fieldset[disabled] .black-border-btn,
.black-border-btn.disabled:hover,
.black-border-btn[disabled]:hover,
fieldset[disabled] .black-border-btn:hover,
.black-border-btn.disabled:focus,
.black-border-btn[disabled]:focus,
fieldset[disabled] .black-border-btn:focus,
.black-border-btn.disabled:active,
.black-border-btn[disabled]:active,
fieldset[disabled] .black-border-btn:active,
.black-border-btn.disabled.active,
.black-border-btn[disabled].active,
fieldset[disabled] .black-border-btn.active {
  background-color: #FFFFFF;
  border-color: #010005;
}

.black-border-btn .badge {
  color: #FFFFFF;
  background-color: #000000;
}

.blue-button:hover,
.blue-button:focus,
.blue-button:active,
.blue-button.active,
.open .dropdown-toggle.blue-button {
  color: #ffffff;
  background-color: #154E8C;
  border-color: #EFF1F7;
}

.blue-button:active,
.blue-button.active,
.open .dropdown-toggle.blue-button {
  background-image: none;
}

.blue-button.disabled,
.blue-button[disabled],
fieldset[disabled] .blue-button,
.blue-button.disabled:hover,
.blue-button[disabled]:hover,
fieldset[disabled] .blue-button:hover,
.blue-button.disabled:focus,
.blue-button[disabled]:focus,
fieldset[disabled] .blue-button:focus,
.blue-button.disabled:active,
.blue-button[disabled]:active,
fieldset[disabled] .blue-button:active,
.blue-button.disabled.active,
.blue-button[disabled].active,
fieldset[disabled] .blue-button.active {
  background-color: #013975;
  border-color: #EFF1F7;
}

.blue-button .badge {
  color: #013975;
  background-color: #ffffff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #808080;
  background-color: #DCDCDC;
}

.nav-pills>li>a {
  height: 25px;
  line-height: 15px;
  color: #808080;
  padding: 5px 5px;
  margin-bottom: 8px;
  background-color: inherit;
}

.add-post-modal-footer {
  margin-top: 60px;
  border-top: none;
}

.add-post-textarea {
  width: 100%;
  height: 20px;
  border: 0;
  box-shadow: none;
  resize: none;
  outline: 0;
}

@media (min-width: 768px) {
  .container {
    padding-right: 95px;
    padding-left: 95px;
  }

  .add-post-textarea {
    height: 100px;
    width: 100%;
  }

  .add-post-modal-footer {
    margin-top: 10px;
  }
}

.add-post-link {
  color: grey;
  font-size: large;
}

.add-post-link:link {
  text-decoration: none;
}

.add-post-link:visited {
  text-decoration: none;
}

.add-post-link:active {
  text-decoration: none;
}

.add-post-link:focus {
  color: grey;
  text-decoration: none;
}

.add-post-link:hover {
  color: #1b1b1b;
  text-decoration: none;
}

.add-post-panel {
  height: 50px;
  line-height: 22px;
  text-align: center;
}

.add-post-modal-header {
  border-bottom: none;
  padding: 15px 15px 0px 15px;
}

.add-post-modal-header h4 {
}

.add-post-modal-container .modal-dialog, .add-post-modal-container .modal-content {
  height: 250px;
}

.common-dropdown {
  margin-right: 5px;
  border: none;
  background-color: inherit;
  box-shadow: none;
  background-image: none;
}

.add-post-modal-footer .common-dropdown {
  height: 25px;
}

.common-dropdown:hover, .common-dropdown:focus, .common-dropdown:active,
.common-dropdown:active.focus, .common-dropdown:active:focus, .common-dropdown:active:hover,
.open>.dropdown-toggle.common-dropdown.focus, .open>.dropdown-toggle.common-dropdown:focus,
.open>.dropdown-toggle.common-dropdown:hover {
    color: #333;
    border: none;
    background-color: inherit;
    box-shadow: none;
    background-image: none;
}

.panel-default .panel-heading {
  background-image: none;
  background-color: inherit;
  border: none;
}

.panel-title {
  font-weight: bold;
}

.left-nav {
  position: fixed;
}

.start-project {
  float: left;
}

.my-skills-left-nav-header h4{
  border-bottom: 1px solid #e2e2e2;
  padding-left: 5px;
  padding-bottom: 10px;
}

.skill-header {
  margin-bottom: 40px;
}

.myskills-btn-grp, .add-post-div, .add-project-div {
  display: inline-flex;
  width: 100%;
}

.myskills-btn-grp {
  margin-bottom: 10px;
}

.add-post-btn {
  width: 100%;
  height: 40px;
}

.add-project-btn {
  width: 100%;
  height: 40px;
}

.btn-sep-div {
  width: 3%;
}

.add-post-panel {
  width: 100%;
  height: 50px;
  line-height: 22px;
  text-align: center;
}

.add-project-panel {
  width: 100%;
  height: 50px;
  line-height: 22px;
  text-align: center;
}

.add-post-panel-body {
  float: left;
}

.add-project-panel-body {
  float: right;
}

.select-skill {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  margin-right: 10px;

}

.select-skill__control {
  background-color: #fff !important;
  border-color: #fff !important;
  border-width: 0px !important;
  box-shadow: #fff !important;
}

.select-skill__control--is-focused {
  background-color: #fff !important;
  border-color: #fff !important;
  border-width: 0px !important;
  box-shadow: #fff !important;
}
